<!DOCTYPE html>

<head>
<title>login page</title>
    <meta charset="utf-8" />

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(){

            let btn = document.querySelector('button[type=submit]')
            console.log(btn)
            btn.addEventListener('click', async function(e){
                e.preventDefault();

                let username = document.querySelector('input[name=username]').value;
                let password = document.querySelector('input[name=password]').value;

                console.log(username, password)

                let response = await fetch("/login", {
                    method: "POST",
                    body: new FormData(document.querySelector('form'))
                })

                let response_json = await response.json();
                if(response_json.success){
                    let body = document.querySelector('body');
                    body.style.backgroundColor = 'yellow';
                    body.style.display = 'block';
                    body.innerHTML = response_json.message;
                }

                console.log('response_text', response_json)




            })
        })



    </script>
</head>



<body>
    <form method="POST" action="/login">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <button type="submit">Sing in</button>
    </form>
</body>



</html>